body{
background-color: black; 
color: rgb(4, 128, 0);
} 
h1 {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
h2{
    color: rgb(255, 0, 0);
    text-decoration: underline;   
}
p{
    color: rgb(76, 212, 22);
}
.food{
    text-decoration: underline;
}
.family{
    font-weight: bold;
}
.something{
    color: red;
}
.ok{
    color:yellow;
}
.duh{
    color: green;
}
.bro{
    color:orange;
}
.GG{
    color:purple;
}
.lol{
    color: pink;
}
.fr{
    color: gold;
}
.he{
    color:gray;
}
.my{
    color:red;
}
.family{
    color:orange;
}
.and{
    color:yellow;
}
.i{
    color:green
}
.came{
    color:blue;
}
.to{
    color:indigo;
}
.this{
    color:violet;
}
.country{
    color:red;
}
.to{
    color:orange;
}
.be{
    color:yellow
}
.successful{
    color:green;
}
.and{
    color:blue;
}
.have{
    color:indigo
}
.a{
    color:violet;
}
.better{
    color:red;
}
.life{
    color:orange
}
